{
  "parser": "@babel/eslint-parser",
  "root": true,
  "env": {
    "node": true,
    "es2020": true
  },
  "rules": {
    "no-console": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "no-param-reassign": [2, { "props": false }],
    "func-names": ["error", "never"]
  }
}
