{
  "hooks": {
    "pre-commit": "eslint ./src --fix && npm run build && npm run test-workflow-modules",
    "post-merge": "node ./scripts/hooks/post-merge.js",
    "post-checkout": "node ./scripts/hooks/post-checkout.js"
  }
}